<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codelab1_dicoding">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.dicoding.codelab1.wisata_bandung"
        android:label="Wisata Bandung"
        android:icon="@mipmap/ic_launcher">

</manifest>
